/* Adobe Personal Brand Fonts */
@import url('https://use.typekit.net/pjn3soh.css');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Macho', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Macho', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  color: #222;
}

/* Grid */
.container {
  min-width: 100%;
}

/* Typography */

a {
  color: #000;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.2em;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.4rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

.subheading {
  margin: 0;
  padding: 1.5rem 1.5rem 0 1.5rem;
  font-family: 'Circe Slab C';
  font-weight: bold;
}

.subheading.center {
  margin: 0;
  padding: 1.5rem 1.5rem 0 1.5rem;
  font-family: 'Circe Slab C';
  font-weight: bold;
  text-align: center;
}

/* Images */

img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

img:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
  transform: scale3d(1.2, 1.2, 1.2);
}

/* Lists */
ul {
  list-style: none;
}

li {
  margin-bottom: 1rem;
}

/* Header / Menu */
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

@-webkit-keyframes levitate {
  0% {
    top: 30px;
  }

  50% {
    top: 28px;
  }

  90% {
    top: 32px;
  }

  100% {
    top: 30px;
  }
}

@keyframes levitate {
  0% {
    top: 30px;
  }

  50% {
    top: 28px;
  }

  90% {
    top: 32px;
  }

  100% {
    top: 30px;
  }
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 30px;
  top: 30px;
  background: rgba(244, 121, 32, 0.8);
  padding: 15px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 3px#000;
  box-shadow: 0px 0px 5px 3px#000;
  cursor: pointer;
  -webkit-animation-name: levitate;
  animation-name: levitate;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu-btn.close:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.menu-btn.close {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.menu-btn .btn-line:nth-child(1) {
  margin-top: 5px;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background: #000;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu.show {
  visibility: visible;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: rgba(225, 225, 225, 0.9);
  list-style: none;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
  transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.menu-nav.show .nav-item:nth-child(1) {
  margin: 1rem 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.menu-nav.show .nav-item:nth-child(2) {
  margin: 1rem 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.menu-nav.show .nav-item:nth-child(3) {
  margin: 1rem 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.nav-link {
  color: #000;
  font-size: 2rem;
}

/* Main */

main {
  min-height: 100%;
}

/* Landing */

.landing {
  margin-bottom: 1rem;
  background-color: #ffd12e;
}

.landing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40vw;
  flex: 0 1 40vw;
  min-width: 40vw;
  min-height: 50vh;
  text-align: center;
  padding: 0 1.5rem;
}

.landing-text-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.landing img {
  width: auto;
  max-height: 225px;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.landing h1 {
  margin-top: -0.5rem;
  margin-bottom: 3.1rem;
  font-family: 'Circe Slab A', 'Roboto', sans-serif;
  font-weight: medium;
}

.landing p {
  font-family: 'Macho', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  font-style: bolder;
  margin-top: -1rem;
  margin-bottom: 2.9rem;
}

.landing-image {
  background: url(https://source.unsplash.com/weekly?coding);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60vw;
  flex: 0 1 60vw;
  min-width: 60vw;
  min-height: 50vh;
  margin: 0;
}

/* Showcase  */

.showcase {
  background: rgb(245, 245, 245);
  margin-bottom: 2rem;
}

.showcase-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.showcase-icons img {
  -webkit-box-flex: 1;
  -ms-flex: 1 0px auto;
  flex: 1 0px auto;
  margin: 0 2.5rem;
  padding: 1rem;
}

/* Projects */

.projects {
  margin-top: 4rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.projects-box {
  background: #eee;
  max-width: 90vw;
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto 2rem auto;
  -webkit-box-shadow: 5px 5px 5px #000;
  box-shadow: 5px 5px 5px #000;
}

.projects-box img {
  max-width: 100%;
  min-height: 100%;
}

.projects-box a {
  font-size: 1rem;
}

/* About Section */

#about {
  overflow: hidden;
}

.about-info {
  min-height: 100%;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'bio-image'
    'bio'
    'detail-1'
    'detail-2'
    'detail-3'
    'detail-4';
}

.about-info p {
  font-size: 1.3rem;
}

.bio-image {
  grid-area: bio-image;
  margin: 2rem auto;
  border: 2px solid #000;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bio-image:hover {
  border-radius: 50px;
}

.bio {
  grid-area: bio;
  padding: 2rem;
}

.bio h3 {
  border-bottom: 1px solid #000;
}

.detail {
  position: relative;
  background: #000;
  opacity: 0.3;
  color: white;
}

.detail h3 {
  border-bottom: 1px solid #000;
  text-align: center;
}

.detail-1 {
  grid-area: detail-1;
  padding: 0 4rem;
}

.detail-2 {
  grid-area: detail-2;
  padding: 0 4rem;
}

.detail-3 {
  grid-area: detail-3;
  padding: 0 4rem;
}

.detail-4 {
  grid-area: detail-4;
  padding: 0 4rem;
}

/* Footer */
.footer {
  margin-top: 3rem;
  background: #fff;
  min-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

ul.footer-menu {
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 2px solid #f47920;
  padding-left: 0;
}

.footer-item {
  width: 50vw;
  margin: 3rem 0;
  font-size: 1.6rem;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-item:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.footer-copyright {
  width: 100%;
  height: 100%;
  background: #eee;
  text-align: center;
}

.footer p {
  margin-top: 1.4rem;
}

/* Buttons */

.button {
  display: block;
  min-width: 50vw;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  border: 4px #f47920 solid;
  border-radius: 50px;
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.button:hover {
  background: #49c5ef;
}

/* Media Query */

/* Larger than phablet */
@media only screen and (min-width: 550px) {
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 59.3vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    margin: 0;
    list-style: none;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }

  .landing-text {
    min-width: 60vw;
  }

  .landing-text,
  .landing-image {
    height: 100vh;
  }

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 700px) {
  .landing-text {
    min-width: 40vw;
  }

  .landing img {
    width: auto;
    max-height: 225px;
    margin-bottom: 2.5rem;
  }

  .landing h1 {
    font-size: 5rem;
  }

  .landing p {
    font-size: 2rem;
  }

  .button {
    min-width: 20vw;
    padding: 1rem 2.5rem;
  }

  .showcase-icons {
    background-color: #fff;
    min-height: 60vh;
  }

  .showcase-icons img {
    padding: 1.5rem;
  }

  .projects {
    margin-top: 4rem;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
  }

  .projects-box {
    background: #eee;
    width: 40vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .footer-item {
    font-size: 2rem;
    color: #f47920;
  }

  .footer-item a {
    color: #49c5ef;
  }
}

@media only screen and (max-device-width: 846px) and (orientation: landscape) {
  .landing h1 {
    margin-top: 0;
    font-size: 2.5rem;
  }

  .landing p {
    font-size: 1.3rem;
  }

  .landing .button {
    display: block;
    margin-bottom: 0.5;
    padding: 0.5rem 0.5rem;
  }
}

@media only screen and (min-width: 826px) {
  .nav-link {
    color: #000;
    font-size: 3rem;
  }

  .landing-text-inner a.button {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .projects {
    margin-top: 4rem;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
  }

  .projects-box {
    background: #eee;
    width: 30vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    border: 3.5px solid #6cbf56;
  }

  .projects-box a {
    font-size: 1.2rem;
    font-weight: bolder;
  }

  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      'bio-image bio bio'
      'detail-1 detail-1 .'
      '. detail-2 detail-2'
      'detail-3 detail-3 .'
      '. detail-4 detail-4';
    grid-template-columns: repeat(3, 1fr);
  }

  .footer .footer-menu {
    width: 70vw;
  }

  .footer .footer-item {
    width: 20vw;
  }
}
