/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Courgette');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #222;
  overflow-x: hidden
}

/* Grid */
.container {
  width: 100%;
}

/* Typography */

a {
  color: #000;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.4rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

.subheading {
  text-align: center;
}

/* Images */

img {
  transition: all .4s ease-in-out;
}

img:hover {
  transform: scale3d(1.2, 1.2, 1.2); 
}

/* Lists */
ul {
  list-style: none;
}

li {
  margin-bottom: 1rem;
}

/* Header / Menu */
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

@keyframes levitate {
  0% {
    top:30px;
  }

  50% { 
    top:28px;
  }

  90% {
    top:32px;
  }

  100% {
    top: 30px;
  }
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 30px;
  top: 30px;
  background: white;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px#000;
  cursor: pointer;
  animation-name: levitate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: all 0.4s ease-out;
}

.menu-btn.close:hover {
  transform: rotate(180deg);
}

.menu-btn.close {
  transform: rotate(270deg);
}

.menu-btn .btn-line:nth-child(1) {
  margin-top: 5px;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background: #000;
  transition: all 0.4s ease-out;
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); 
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  visibility: hidden;
  transition: all 0.4s ease-out;
}

.menu.show{
  visibility: visible;
}

.menu-nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: rgba(225, 225, 225, .9);
  list-style: none;
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s ease-out;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.6s ease-out;
}

.menu-nav.show .nav-item:nth-child(1) {
  margin: 1rem 0;
  transform: translate3d(0, 0, 0);
  transition-delay: .3s;
}

.menu-nav.show .nav-item:nth-child(2) {
  margin: 1rem 0;
  transform: translate3d(0, 0, 0);
  transition-delay: .4s;
}

.menu-nav.show .nav-item:nth-child(3) {
  margin: 1rem 0;
  transform: translate3d(0, 0, 0);
  transition-delay: .5s;
}

.nav-link {
  color: #000;
  font-size: 2rem;
}

/* Main */

main {
  min-height: 100%;
}

/* Landing */

.landing {
  margin-bottom: 1rem;
  background-color: #eee;
}

.landing-text {
  display: flex;
  flex: 0 1 40vw;
  min-width: 40vw;
  min-height: 50vh;
  text-align: center; 
  padding: 0 1rem;
}

.landing-text-inner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.landing h1 {
  margin-top: 5rem;
  font-family: 'Courgette', 'Roboto', sans-serif;
}

.landing-image {
  background: url(https://source.unsplash.com/weekly?coding);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 1 60vw;
  min-width: 60vw;
  min-height: 50vh;
  margin: 0;
}

/* Showcase  */

.showcase {
  background: rgb(245, 245, 245);
  margin-bottom: 2rem;
}

.showcase-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.showcase-icons img {
  flex: 1 0px auto;
  margin: 0 2.5rem;
  padding: 1rem; 
}

/* Projects */

.projects {
  margin-top: 4rem;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
}

.projects-box {
  background: #eee;
  max-width: 90vw;
  min-height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-flow: row wrap;
  margin: 0 auto 2rem auto;
  box-shadow: 5px 5px 5px #000;
}

.projects-box img {
  max-width: 100%;
  min-height: 100%
}

/* About Section */
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 
  'bio-image'
  'bio'
  'job-1' 
  'job-2' 
  'job-3'
  'job-4';
  grid-template-columns: 1frs;
}

.about-info p {
  font-size: 1.3rem;
}

.bio-image {
  grid-area: bio-image;
  margin: 2rem auto;
  border: 2px solid #000;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

.bio-image:hover {
  border-radius: 50px;
}

.bio {
  grid-area: bio;
  padding: 2rem;
}

.bio h3 {
  border-bottom: 1px solid #000;
}

.job {
  position: relative;
}

.job:nth-child(odd):before {
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  transform: rotateZ(20deg) skewX(35deg) scale(.9);
  box-shadow: 0px 1px 10px  #000;
  z-index: -3;
}

.job:nth-child(even):after {
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  transform: rotateZ(-20deg) skewX(-35deg) scale(.9);
  box-shadow: 0px 1px 10px  #000;
  z-index: -3;
}

.job h3 {
  border-bottom: 1px solid #000;
  text-align: center;
}

.job-1 {
  grid-area: job-1;
  padding: 2rem;
}

.job-2 {
  grid-area: job-2;
  padding: 2rem;
}

.job-3 {
  grid-area: job-3;
  padding: 2rem;
}

.job-4 {
  grid-area: job-4;
  padding: 2rem;
}

/* Footer */
.footer {
  margin-top: 3rem;
  background: #fff;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.footer-menu {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #000;
}

.footer-item {
  width: 50vw;
  margin: 3rem 0;
  font-size: 1.6rem;
  text-align: center;
  transition: all .5s ease-in-out;
}

.footer-item:hover {
  transform: scale(1.2);
}

.footer-copyright {
  width: 100%;
  height: 100%;
  background: #eee;
  text-align: center;
}

.footer p {
  margin-top: 1.4rem;
}

/* Buttons */

.button {
  display: block;
  min-width: 50vw;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  border-radius: 50px;
  color: #000;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.button:hover {
  background: #fff;
}

/* Media Query */

/* Larger than phablet */
@media only screen and (min-width: 550px) {
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 59.3vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    visibility: hidden;
    transition: all 0.5s ease-out;
  }

  .menu-nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    margin: 0;
    list-style: none;
    transform: translate3d(100%, 0, 0);
    transition: all 0.5s ease-out;
  }

  .landing {
    display: flex;
    height: 100%;
  }

  .landing-text {
    min-width: 60vw;
  }

  .landing-text,
  .landing-image {
    height: 100vh;
  }

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 700px) {
  .landing-text {
    min-width: 40vw;
  }

  .landing h1 {
    font-size: 5rem;
  }

  .landing p {
    font-size: 1.1rem;
  }

  .button {
    min-width: 20vw;
    padding: 1rem 2.5rem;
  }

  .showcase-icons {
    background-color: #fff;
    min-height: 60vh;
  }

  .showcase-icons img {
    padding: 1.5rem;
  }

  .projects {
    margin-top: 4rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
  }

  .projects-box {
    background: #eee;
    width: 40vw;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
  }
}

@media only screen 
  and (max-device-width: 846px) 
  and (orientation: landscape) {
    
    .landing h1 {
      margin-top: 0;
      font-size: 2.5rem;
    }
    
    .landing p {
      font-size: .8rem;;
    }
    
    .landing .button {
      display: block;
      margin-bottom: .5;
      padding: 0.5rem .5rem;
    }

    .landing .button {
      font-size: .8rem;
    }
}

@media only screen and (min-width: 826px) {
  .nav-link {
    color: #000;
    font-size: 3rem;
  }

  .projects {
    margin-top: 4rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
  }

  .projects-box {
    background: #eee;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bio-image bio bio'
    'job-1 job-1 .'
    '. job-2 job-2'
    'job-3 job-3 .'
    '. job-4 job-4';
    grid-template-columns: repeat(3, 1fr);
  }

  .footer .footer-menu {
    width: 70vw;
  }

  .footer .footer-item {
    width: 20vw;
  }

}